<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <h2 class="mt-4">Form Section</h2>
    <form [formGroup]="signUpForm" (ngSubmit)="OnSubmit()">
      <div class="form-group">
        <label for="">*FirstName</label>
        <input type="text" class="form-control" formControlName="firstName" />
      </div>
      <div class="form-group">
        <label for="">*LastNAme</label>
        <input type="text" class="form-control" formControlName="lastName" />
      </div>
      <div class="form-group">
        <label for="">*City</label>
        <input type="text" class="form-control" formControlName="city" />
      </div>

      <div class="form-group">
        <label for="">*employeeId</label>
        <input type="text" class="form-control" formControlName="empId" />
      </div>
      <div class="form-group file-upload">
        <input type="file" (change)="onFileUpload($event)" />
      </div>
      <button class="btn btn-primary">submit</button>
    </form>
  </div>
</div>
